<h2 class="page-header">New Authors</h2>
<form action="/authors" method="post">
  <%- include('_formPartial')%>
  <a class="btn" href="/authors">Cancel</a>
  <button class="btn" type="submit">Create</button>
</form>